# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
Board_FRDM/Documentation/
Board_FRDM/Generated_Code/
Board_FRDM/Debug/
Board_FRDM/.cwGeneratedFileSetLog
*.g_c
*.g_x
